$primary-blue-1:#A2BBD7;
$primary-blue-2:#7690AF;
$primary-blue-3:#456386;
$primary-blue-4:#022D5E;
$primary-blue-5:#01172F;

$secondary-blue-1:#BCF4FF;
$secondary-blue-2:#78E8FF;
$secondary-blue-3:#5AAEBF;
$secondary-blue-4:#3C7480;
$secondary-blue-5:#1E3A40;

$primary-green-1:#CBECA4;
$primary-green-2:#ACD876;
$primary-green-3:#74C511;
$primary-green-4:#4D830B;
$primary-green-5:#274206;

$secondary-green-1:#CBE0BC;
$secondary-green-2:#9DC183;
$secondary-green-3:#769162;
$secondary-green-4:#4F6142;
$secondary-green-5:#273021;

$grayscale-1:#FFFFFF;
$grayscale-2:#E8E6E6;
$grayscale-3:#C7C7C7;
$grayscale-4:#595959;
$grayscale-5:#333333;